.container {
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 15px;
    .contact {
        display: flex;
        gap: 16px;
    }
    a {
        padding: 8px 0;
        padding-right: 16px;
        color: #090e23;
        text-decoration: none;
    }
    button {
        padding: 18px 54px;
        font-size: 18px;
        text-transform: uppercase;
        background-color: #ec4621;
        border: none;
        color: white;
        border-radius: 8px;
        border-end-end-radius: l;
    }
}
.headSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.borderRight {
    border-right: 1px dashed #5c6c7b;
}
